@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable.woff2),
    format('woff2-variations');
    font-style: normal;
    font-weight: 100 900;
}

@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable-Italic.woff2),
    format('woff2-variations');
    font-style: italic;
    font-weight: 100 900;
}

@font-face {
    font-family: 'Outfit';
    src: url(./fonts/Outfit[wght].woff2),
    format('woff2-variations');
    font-style: normal;
    font-weight: 100 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10rem;
    background-color: rgb(67, 67, 67);
    color: white;
    padding: 32px 48px;
}

.UI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.title {
    font-size: 5rem;
    text-align: center;
    border: 2px solid white;
    padding: 6px 32px;
}

.player-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    width: 15rem;
    height: auto;
    stroke-width: 0.2;
    stroke: rgb(167, 167, 167);
    filter: brightness(0.25);
}

.player-icon-container {
    position: relative;
}

.player.marker {
    display: inline-block;
    position: absolute;
    right: 0rem;
    top: 2.5rem;
    font-size: 5rem;
    text-align: center;
}

.player.highlight {
    width: 17.5rem;
    font-size: 6.5rem;
    height: auto;
    stroke: white;
    filter: none;
}

.player.winner {
    width: 17.5rem;
    font-size: 6.5rem;
    height: auto;
    stroke: yellow;
    color: yellow;
    filter: none;
}

.player.one {
    fill: rgb(0, 100, 255);
}

.player.two {
    fill: rgb(255, 50, 50);
}

.instruction {
    font-size: 2.5rem;
    max-width: 30rem;
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    grid-template-rows: 10rem 10rem 10rem;
}

.box {
    width: 10rem;
    height: 10rem;
    font-family: 'Inter', sans-serif;
    font-size: 7.5rem;
    font-weight: 600;
    text-align: center;
}